@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css)
$main-color: #639fa6
$text-color: #444
$progressbar-bg: #c0e4e4
$progressbar-color: #639fa6

.clearfix
  *zoom: 1
.clearfix:after
  content: ''
  display: block
  clear: both
.left
  float: left
.right
  float: right
.lock
  overflow: hidden


body
  font-family: 'Nanum Myeongjo'

.img-plx
  width: 100%
  height: 100%

.mo-show
  display: none

.main-section
  position: relative
  display: flex
  flex-direction: row
  width: 100%
  height: 100vh
  .pc-show
    width: 100%
    height: 100%
.txt-wrap
  position: fixed
  top: 0
  width: 60%
  height: 100vh
.bg-wrap
  margin-left: 60%
  width: 40%

.hero-sec
  .bg-wrap
    position: relative
    .mo-show
      width: 100%
      height: 0
      padding-bottom: 100%
      background: url('../images/main/hero_bg_mo.jpg') center 0 no-repeat
      background-size: cover
    .bg-balloon
      position: absolute
      top: 13%
      right: 18%
      width: 200px
      img
        width: 100%
  .txt-wrap
    display: flex
    align-items: center
    .hero-head
      padding-left: 15%
      margin: 0
      font-size: 48px
      p
        padding: 12px 0


.myinfo-sec
  .bg-wrap
    background: #99bfbf
    .warped-img
      position: relative
      width: 280px
      height: 417px
      margin: 0 auto
      transform: rotate(-30deg) skew(25deg) scale(.6)
      transition: 0.5s
      box-shadow: -70px 65px 30px 5px rgb(0 0 0 / 22%)
      img
        position: absolute
        width: 100%
        transition: 0.5s
      &:hover
        img:nth-child(4)
          transform: translate(120px, -120px)
          opacity: 1
        img:nth-child(3)
          transform: translate(80px, -80px)
          opacity: .8
        img:nth-child(2)
          transform: translate(40px, -40px)
          opacity: .6
        img:nth-child(1)
          opacity: .4
  .txt-wrap
    display: flex
    justify-content: center
    flex-direction: column
    align-items: flex-start
    .myinfo-cont
      padding-left: 15%
      opacity: 0
    h1
      display: inline-block
      font-size: 50px
      padding-bottom: 8px
      margin: 30px 0
      border-bottom:3px solid #000
    p
      font-size: 20px
    dl
      padding-bottom: 20px
      dt
        padding-bottom: 10px
        font-size: 1.3rem
        font-weight: 800
        color: #639fa6
      dd
        padding: 5px 0

.pofol-sec
  top: 0
  left: 0
  right: 0
  bottom: 0
  .bg-wrap
    background: #babfbc
    .mo-show
      width: 130px
      margin: 30px 0
      img
        width: 100%
    .scroll-anim-wrap
      position: relative
      overflow: hidden
      width: 279px
      height: 574px
      transform: rotateX(50deg) rotateZ(45deg) translate3d(0, 0, -70px) scale(0.7)
      transform-style: preserve-3d
      //box-shadow: 50px 50px 27px 0px rgb(0 0 0 / 30%)
      img
        position: absolute
      .img-mockup
        z-index: 99
      .img-wrap
        position: absolute
        top: 70px
        left: 20px
        width: 246px
        height: 432px
      .img-pofol1
        z-index: 9
      .img-pofol2
        z-index: 8
      .img-pofol3
        z-index: 7
  .txt-wrap
    display: flex
    justify-content: center
    flex-direction: column
    align-items: flex-start
    font-weight:300
    font-size: 1.1rem
    line-height: 2.2
    letter-spacing: 0.07em
    word-break: keep-all
    .pofol-info
      padding-left: 15%
      padding-top: 12%
      opacity: 0

.skill-sec
  align-items: center
  background: #fff
  .skill-cont-wrap
    padding: 0 50px
    margin: 0 auto
    width: 100%
    max-width: 1100px
    box-sizing: border-box
    .dev-wrap
      width: 50%
      h1
        padding-bottom: 20px
        font-weight: 600
        font-size: 2em
        text-align: center
      .skills-bar-cont
        position: relative
        width: 100%
        li
          width: 100%
          padding-bottom: 20px
          .bar-tit
            padding-bottom: 8px
          .bar-cont
            position: relative
            width: 100%
            height: 13px
            background: $progressbar-bg
            span
              background: $progressbar-color
              position: absolute
              width: 0%
              height: 100%
    .extra-skills-wrap
        width: 50%
        padding-top: 40px
        .extra-skills
          position: relative
          width: 70%
          margin:0 auto
          padding-bottom: 40px
          text-align: center
          h2
            padding-bottom: 30px
            font-weight: 600
            font-size: 1.7em
          ul
            li
              padding-bottom: 13px
              font-weight: 500
              font-size: 1.1em
              color: $text-color
              text-align: left
              i
                color: $main-color
                margin-right: 10px

.list-sec
  height: auto
  padding: 140px 0
  background: #fff
  .wrap
    width: 100%
    margin: 0 auto
    max-width: 1280px
    img
      width: 100%
      vertical-align: top
    h1
      display: inline-block
      font-size: 50px
      margin: 50px 0
      border-bottom: 3px solid #000
    ul
      width: 100%
      margin-left:3.3%
      li
        float: left
        position: relative
        overflow: hidden
        width: 30%
        margin-right: 3.3%
        margin-bottom: 3.3%
        background: #000
        color: #fff
        text-align: center
        img
          opacity: 1
          -webkit-transition: opacity 0.35s
          transition: opacity 0.35s
        .caption
          position: absolute
          bottom: 0
          left: 0
          padding: 6em 2em 0
          width: 100%
          height: 100%
          &:before
            content:''
            position: absolute
            top: 50%
            bottom: 50%
            right: 50px
            left: 50px
            border-top: 1px solid rgba(255, 255, 255, 0.8)
            border-bottom: 1px solid rgba(255, 255, 255, 0.8)
            background: #fff
            opacity: 0
            -webkit-transition: all 0.4s
            transition: all 0.4s
            -webkit-transition-delay: 0.6s
            transition-delay: 0.6s
          h2, p
            margin: 0 0 5px
            opacity: 0
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
            transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s
          h2
            font-size: 23px
            padding-bottom: 15px
            letter-spacing: 0.03em
            -webkit-transform: translate3d(0%, 50%, 0)
            transform: translate3d(0%, 50%, 0)
            -webkit-transition-delay: 0.3s
            transition-delay: 0.3s
          p
            -webkit-transition-delay: 0s
            transition-delay: 0s
          p + p
            padding-top: 5px
          a
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            position: absolute
            color: #fff
        &:hover
          img
            opacity: 0.35
          .caption
            &:before
              background: rgba(255, 255, 255, 0)
              top: 55px
              bottom: 55px
              opacity: 1
              -webkit-transition-delay: 0s
              transition-delay: 0s
            p
              opacity: 0.9
              -webkit-transition-delay: 0.6s
              transition-delay: 0.6s
            h2
              opacity: 1
              -webkit-transform: translate3d(0%, 0%, 0)
              transform: translate3d(0%, 0%, 0)
              -webkit-transition-delay: 0.3s
              transition-delay: 0.3s

@media all and (max-width: 1700px)
  .pofol-sec
    .txt-wrap
      .pofol-info
        width: 460px

@media all and (max-width: 1023px)
  .pc-show
    display: none
  .mo-show
    display: block
  .main-section
    flex-direction: column
    height: auto
    .txt-wrap
      order: 2
      position: static
      width: 100%
      height: auto
    .bg-wrap
      order: 1
      width: 100%
      margin-left: 0

  .hero-sec
    height: 100vh
    .txt-wrap
      .hero-head
        margin: 0
        padding: 83px 0 83px 7%
        font-size: 28px

  .myinfo-sec
    .bg-wrap
      .warped-img
        width: 207px
        height: 320px
    .txt-wrap
      h1
        font-size: 42px
      .myinfo-cont
        padding: 20px 0 20px 7%
        font-size: 0.9rem
        opacity: 1

  .pofol-sec
    .txt-wrap
      font-size: 1rem
      line-height: 1.8
      br
        display: none
      .pofol-info
        width: 100%
        padding: 30px 7%
        box-sizing: border-box
        opacity: 1

  .skill-sec
    .skill-cont-wrap
      padding: 50px 20px
      .dev-wrap, .extra-skills-wrap
        width: 100%

        .extra-skills
          float: left
          width: 50%

@media all and (max-width: 1023px)
  .skill-sec
    .skill-cont-wrap
        .dev-wrap, .extra-skills-wrap
            .extra-skills
                width: 100%
                ul > li
                  font-size: 1rem
